body {
	background: url(/static/image/bg_sign_in.jpg) no-repeat center center fixed ; 
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 
}